.glyphicon.glyphicon-stop.black{color: #3a3131;}
.glyphicon.glyphicon-stop.white{color: #f8f8df;}
.glyphicon.glyphicon-stop.red{color: #d43333;}
.glyphicon.glyphicon-stop.blue{color: #5a8fe0;}
.glyphicon.glyphicon-stop.green{color: #61a922;}